<h2>V채lkommen {{user.username}}</h2>

<p>H채r 채r dina startade l채rostigar. Lycka till!</p>

{{#each paths}}

    <div>
        <div class='path'>
            <h3>{{learningPath.title}}</h3>
            <p><b>Steg: 2/5 | 40%</b></p>
            <div class="progres-bar-container"></div>
            <p>{{learningPath.description}}</p>

            <ol>
                {{#each learningPath.steps}}
                    <li>
                        <p>
                            {{#if done}}
                            <input
                                type='checkbox'
                                class='complete-step'
                                checked
                                data-step-id='{{_id}}'
                                data-done="true"
                                data-path-id='{{../_id}}'
                            />
                            {{else}}
                            <input
                                type='checkbox'
                                class='complete-step'
                                data-step-id='{{_id}}'
                                data-done="false"
                                data-path-id='{{../_id}}'
                            />
                            {{/if}}
                            <b>{{title}}</b>
                        </p>
                        <p><i>{{description}}</i></p>
                        <p>Link:
                            <a href='{{link}}' target='_blank'>{{link}}</a></p>
                    </li>
                {{/each}}
            </ol>
            <hr />
        </div>
    </div>

{{/each}}